---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign publications = site.publications | sort: "date" | reverse %}
    {% for post in publications %}
      {% assign status = post.pubstatus | default: "" | downcase %}
      {% assign status_allowed = false %}
      {% if status contains "accepted" %}
        {% assign status_allowed = true %}
      {% elsif status contains "published" %}
        {% unless status contains "unpublished" %}
          {% assign status_allowed = true %}
        {% endunless %}
      {% endif %}
      {% if post.category == category[0] and status_allowed %}
        {% unless title_shown %}
          <h2>{{ category[1].title }}</h2>
          <hr />
          {% assign title_shown = true %}
        {% endunless %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign publications = site.publications | sort: "date" | reverse %}
  {% for post in publications %}
    {% assign status = post.pubstatus | default: "" | downcase %}
    {% assign status_allowed = false %}
    {% if status contains "accepted" %}
      {% assign status_allowed = true %}
    {% elsif status contains "published" %}
      {% unless status contains "unpublished" %}
        {% assign status_allowed = true %}
      {% endunless %}
    {% endif %}
    {% if status_allowed %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endif %}
