{% include base_path %}

{% assign entry = include.entry %}

{% if entry.image_path contains "://" %}
  {% assign entry_image = entry.image_path %}
{% else %}
  {% assign entry_image = entry.image_path | prepend: base_path %}
{% endif %}

<article class="adifind-card">
  <div class="adifind-card__body">
    {% if entry.caption %}
      <p class="adifind-card__caption">{{ entry.caption }}</p>
    {% endif %}
    <h3 class="adifind-card__title">{{ entry.title }}</h3>
    {% if entry.description %}
      <p>{{ entry.description }}</p>
    {% endif %}
  </div>
  <figure class="adifind-card__media">
    <img src="{{ entry_image }}" alt="{{ entry.image_alt }}">
  </figure>
</article>
